<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yjc.zhishanglend"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:name="com.yjc.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/lauch"
        android:theme="@android:style/Theme.Light.NoTitleBar" 
        android:label="至尚豪车租赁"
        >
        <activity
            android:name="com.yjc.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yjc.activity.HomeActivity"></activity>
        <activity android:name="com.yjc.activity.LoginActivity"></activity>
        <activity android:name="com.yjc.activity.RegisterActivity"></activity>
        <activity android:name="com.yjc.activity.TypeActivity"></activity>
        <activity android:name="com.yjc.activity.XiangxiActivity"></activity>
        <activity android:name="com.yjc.activity.ShoppingXQActivity"></activity>
        <activity android:name="com.yjc.activity.FinishedDingdanActivity"></activity>
        <activity android:name="com.yjc.activity.WaitShoppingsActivity"></activity>
        <activity android:name="com.yjc.activity.MyDingdanActivity"></activity>
        <activity android:name="com.yjc.activity.MyShoucangActivity"></activity>
        <activity android:name="com.yjc.activity.ZManagerActivity"></activity>
        <activity android:name="com.yjc.activity.ModifyPwdActivity"></activity>
        <activity android:name="com.yjc.activity.ChankanActivity"></activity>
		<activity android:name="com.yjc.activity.ShowImgActivity"></activity>
		<activity android:name="com.yjc.activity.SearchActivity"></activity>
        
        <activity
			android:name="com.mob.tools.MobUIShell"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>

</manifest>
